* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "poppins", sans-serif;
}

/* common*/
a {
    text-decoration: none;
}

.inner {
    margin: 0 auto;
    padding: 20px;
}

.title-desc {
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    color: orange;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: #3e5cca;
}

.navbar__item {
    position: relative;
    height: 50px;
}

.navbar__link {
    display: inline-block;
    color: #fff;
    line-height: 50px;
    padding: 0 20px;
    font-weight: 700;
    font-size: 1.6rem;
}

.active,
.navbar__list .navbar__item:hover > .navbar__link {
    background-color: #fff;
    color: #000;
}

.active > a {
    color: #000;
}

.navbar__item .navbar__link:active {
    color: rgb(226, 19, 99) !important;
    background-color: orange !important;
}

.navbar__list .navbar__item .navbar__link:before {
    content: "\25B6";
    margin-right: 20px;

    line-height: 50px;
    text-align: center;
    /* background-color: red; */
}

.navbar__list .navbar__item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: red;
}

/* Form Inter Active */
.content.inner {
    width: 800px;
}

.inner {
    padding: 20px;
}
.top-desc {
    margin: unset;
    text-align: unset;
}
form {
    margin-top: 20px;
}

.form-group {
    margin-top: 16px;
}

.form-group label,
.form-group input {
    display: block;
}

.form-group label {
    font-weight: 600;
}

.form-group input:not([type="radio"]):not([type="checkbox"]) {
    width: 100%;
    height: 34px;
    margin-top: 8px;
    padding: 4px 8px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"],
.form-group input[type="radio"] + label,
.form-group input[type="checkbox"] + label {
    display: inline-block;
}

.form-group input[type="radio"] {
    width: 16px;
    height: 16px;
    margin-top: 8px;
}

.form-group input[type="radio"] + label {
    position: relative;
    top: -2px;
    margin-right: 16px;
    padding-left: 2px;
}

.profile-group {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-group .profile-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-title {
    display: block;
}

#profile {
    display: none;
}

/* input.input-profile {
    display: inline-block;
    width: 50%;
} */

.form-group .btn {
    margin-top: 20px;
    padding: 10px 28px;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #fff;
    background: #f05123;
    cursor: pointer;
}

.form-group .btn:hover {
    opacity: 0.9;
}

/* .form-group input:focus {
    border: red;
} */

.form-regis .form-group input:focus {
    border: red;
}
